[user]
    name = kuanyi-ng
    email = raionkurane@gmail.com
[alias]
    br = branch
    df = diff
    df-s = diff --staged
    log-o = log --oneline
    log-og = log --oneline --graph
    s = status
    clean-branch = !git branch --merged | egrep -v '\\*|main|master|dev|release' | xargs git branch -d
[pull]
    ff = only
[init]
    defaultBranch = main
[core]
    editor = vim
    pager = delta # delta: https://github.com/dandavison/delta
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

# https://github.com/dandavison/delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default


